{% extends 'institucional/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<div class="container my-5 pt-4">
    {% if title %}
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-9 col-sm-12 text-center">
            <h1 class="display-6 border-bottom py-2 my-3">{{ title }}</h1>
        </div>
    </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
{% endblock%}