.text-shadow {
    text-shadow: 0 .5rem 1rem black;
}

.text-shadow-sm {
    text-shadow: 0 .125rem .25rem black;
}

.text-shadow-md {
    text-shadow: 0 .25rem .5rem black;
}

.text-shadow-lg {
    text-shadow: 0 1rem 3rem black;
}
