{% extends 'institucional/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<div class="container w-50 mt-5 mb-3 pt-5">
    <div class="row d-flex justify-content-center mb-3">
        <div class="col-md-8 pb-2 border-bottom text-center">
            <h1 class="display-5">Boas-vindas!</h1>
        </div>
    </div>
    <div class="row">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary mt-3">Enviar</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}